*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.location{
    width: 40%;
    border: solid black 15px; 
    display: flex;
    justify-content: center;
}

.nav{
    display: flex;
    justify-content: center;
}

.map{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.address{
    width:30%;
}

body{
    background-color:lightcoral;
}

.deals{
    color:white;
    border: solid 5px white;
    width:30vw;
}

.apply{
    background-color: greenyellow;
    display:flex;
    justify-content: flex-end;
}


.checkout{
    display:flex;
    justify-content: flex-end;
}






